# {{ ansible_managed }}

# Mountpoint exports (for binds)
{% for item in valid_mounts %}
{% if item.failed == false %}
{{ item.cmd[2] }} *({{default_export_opts}})
{% endif %}
{% endfor %}

# Path exports
{% for item in valid_dirs %}
{% if item.stat.exists %}
{{ item.item }} *({{default_export_opts}})
{% endif %}
{% endfor %}

# EOF
